## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc


Code/Navigation.xcodeproj/project.pbxproj
Code/Navigation.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Code/Navigation.xcodeproj/project.xcworkspace/xcshareddata/Navigation.xccheckout
Code/Navigation.xcodeproj/project.xcworkspace/xcuserdata/Anders.xcuserdatad/UserInterfaceState.xcuserstate
Code/Navigation.xcodeproj/xcuserdata/Anders.xcuserdatad/xcschemes/Navigation.xcscheme
Code/Navigation.xcodeproj/xcuserdata/Anders.xcuserdatad/xcschemes/xcschememanagement.plist
Portfolio Exercise 3.pdf
Code/Navigation.xcodeproj/xcuserdata/Anders.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Report/.texpadtmp/master_doc.blg
Report/.texpadtmp/master_doc.bbl
Report/.texpadtmp/master_doc.synctex.gz
Report/master_doc.synctex.gz
Report/.texpadtmp/manee12_kerat12_anbae12.bbl
Report/.texpadtmp/manee12_kerat12_anbae12.blg
Report/.texpadtmp/manee12_kerat12_anbae12.synctex.gz
Port4/report/.texpadtmp/port4.bbl
Port4/report/.texpadtmp/manee12_kerat12_anbae12.synctex.gz
Port4/report/.texpadtmp/port4.synctex.gz
Port4/report/.texpadtmp/port4.blg
