## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc


Code/Navigation.xcodeproj/project.pbxproj
Code/Navigation.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Code/Navigation.xcodeproj/project.xcworkspace/xcshareddata/Navigation.xccheckout
Code/Navigation.xcodeproj/project.xcworkspace/xcuserdata/Anders.xcuserdatad/UserInterfaceState.xcuserstate
Code/Navigation.xcodeproj/xcuserdata/Anders.xcuserdatad/xcschemes/Navigation.xcscheme
Code/Navigation.xcodeproj/xcuserdata/Anders.xcuserdatad/xcschemes/xcschememanagement.plist
Portfolio Exercise 3.pdf
Code/Navigation.xcodeproj/xcuserdata/Anders.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Report/.texpadtmp/master_doc.blg
Report/.texpadtmp/master_doc.bbl
Report/.texpadtmp/master_doc.synctex.gz
Report/master_doc.pdf
